.container {
    width: 100%;
    position: relative;
    z-index: -1;
    top: 0px;
    margin-bottom: -4px;
}

.background-img {
    width: 100%;
    aspect-ratio: 33/15;
    object-fit: cover;
    object-position: top;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    aspect-ratio: 33/15;
    background-color: rgba(0, 0, 0, 0.15); 
    pointer-events: none; 
}

.text-container {
    position: absolute;
    max-width: 50%;
    left: 20%;
    top: 55%; 
    transform: translate(-25%, -50%);
    text-align: center;
}
