<div class="container">
    <div class="overlay"></div>
    <div class="video-container">
        <video 
            [muted]="'muted'" 
            loop 
            autoplay
            poster="https://www.algirdopromenada.lt/assets/video/intro1a.jpg" 
            playsinline=""
            class="video"
        >
            <source src="assets/homePage/landingModule.mp4" type="video/mp4">
        </video>
    </div>

    <!-- <img 
        [src]="module.backgroundImg" 
        [ngClass]="'background-img ' + ((windowService.windowWidth >= windowService.minWidth) ? '' : 'mobile-img')"
    > -->

    <div 
        class="text-container" 
        [ngClass]="{'animate': animate}"
    >
        <app-content [content]="module.content"></app-content>
    </div>
</div>