
<div *ngFor="let item of content, let i = index">
    <div *ngIf="item.type == 'text'">
        <div 
            [style.font-size.px]="item.fontSize"
            [style.font-family]="item.fontFamily"
            [style.font-weight]="item.fontWeight"
            [style.line-height.px]="item.lineHeight"
            [style.color]="item.fontColour"
            [style.margin-bottom.px]="i == content.length - 1 ? 0 : 30"

            [innerHTML]="item.content"
        ></div>    
    </div>

    <div *ngIf="item.type == 'button'">
        <div 
            class="button"
            (mouseover)="hover=true" (mouseleave)="hover=false"
            (click)="navigate(item.redirectURL)"
            [ngStyle]="hover ? {
                    'border-color': item.colour, 
                    'color': '#FFFFFF', 
                    'background': item.colour, 
                    'font-family': item.fontFamily,
                    'margin-bottom': i == content.length - 1 ? '0px' : '30px'
                }:{
                    'border-color': item.colour, 
                    'color': item.colour, 
                    'font-family': item.fontFamily,
                    'margin-bottom': i == content.length - 1 ? '0px' : '30px'
                }"
        >
            {{ item.content }}
        </div>
    </div>

    <div *ngIf="item.type == 'image'">
        <img 
            [src]="item.src"
            [style.height]="item.height"
            [style.width]="item.width"
            [style.margin-bottom.px]="i == content.length - 1 ? 0 : 30"
        >
    </div>

    <div *ngIf="item.type == 'contact'">
        <app-contact></app-contact>
    </div>    
</div>

