
<div *ngFor="let item of content, let i = index">
    <div *ngIf="item.type == 'text'">
        <div 
            [style.font-size.px]="item.fontSize"
            [style.font-family]="item.fontFamily"
            [style.font-weight]="item.fontWeight"
            [style.line-height.px]="item.lineHeight"
            [style.color]="item.fontColour"
            [style.margin-bottom.px]="i == content.length - 1 ? 0 : 30"

            [innerHTML]="item.content"
        ></div>    
    </div>

    <div *ngIf="item.type == 'button'">
        <div 
            class="button"
            (mouseover)="hover=true" (mouseleave)="hover=false"
            (click)="navigate(item.redirectURL)"

            [style.font-family]="item.fontFamily"
            [style.margin-bottom.px]="i == content.length - 1 ? 0 : 30"
            [style.margin]="item.centre ? 'auto' : ''"

            [ngStyle]="hover || item.filled ? {
                    'border-color': item.colour, 
                    'color': '#FFFFFF', 
                    'background': item.colour, 
                }:{
                    'border-color': item.colour, 
                    'color': item.colour, 
                }"
        >
            {{ item.content }}
        </div>
    </div>

    <div *ngIf="item.type == 'image'" class="image-container">
        <img 
            [src]="item.src"
            [style.height]="item.height"
            [style.width]="item.width"
            [style.max-width]="'100%'"
            [style.border-radius]="item.borderRadius"
            [style.margin-bottom.px]="i == content.length - 1 ? 0 : 30"
        >
    </div>

    <div *ngIf="item.type == 'contact'">
        <app-contact></app-contact>
    </div>    
</div>

