<div 
    class="navbar-container"
    [ngStyle]="{
        'background': landingModule && currentScrollPosition < windowHeight ? 'transparent' : 'linear-gradient(180deg, '+colours.background1+' 35%,'+ colours.background2+'00 100%)',
        'top': position + 'px',
        'transition': 'top ' + (totalUpScroll == 0 ? '0' : '0.3') + 's',
        'color': landingModule && currentScrollPosition < windowHeight ? '#FFFFFF' : colours.font1, 
    }"
>
    <img 
        (click)="navigate('')"
        [src]="logoUrl" 
        class="logo"
    >

    <i 
        class="fa fa-bars" 
        (click)="open = true"
        [ngStyle]="{
            'margin-right': '40px'
        }"
    ></i>

    <div 
        class="links"
        [ngStyle]="{
            'background': open ? (landingModule && currentScrollPosition < windowHeight ? 'black' : colours.background1) : 'transparent',
            'font-family': fonts.font2,
            'right': open ? '0' : '-250px'
        }"
    >
        <i 
            class="fa fa-close" 
            [ngStyle]="{
                'margin-right': '40px'
            }"
            (click)="open = false" 
        ></i>

        <ng-container *ngFor="let page of site">
            <div 
                *ngIf="!page.url.includes('%')"
                (click)="navigate(page.url)" 
                [ngStyle]="{'text-decoration': page.url == location.path().replace('/','') ? 'underline' : '',
                    'text-underline-offset': '5px',
                }"
            >
                {{ page.url.replaceAll('-', '  ') }}
            </div>
        </ng-container>

        <!-- <div (click)="navigate('AboutMe')">About Me</div>
        <div (click)="navigate('Work-With-Me')">Work With Me</div>
        <div (click)="navigate('Testimonials')">Testimonials</div>
        <div (click)="navigate('Blog')">Blog</div>
        <div (click)="navigate('Resources')">Resources</div>
        <div (click)="navigate('Contact')">Contact</div> -->

        <i (click)="navigate(socialUrls.instagram)" class="fa fa-instagram icon"></i>
        <i (click)="navigate(socialUrls.linkedin)" class="fa fa-linkedin icon icon2"></i>
    </div>
</div>

<!-- <div 
    class="navbar-container"
    [ngStyle]="{'background': 'linear-gradient(180deg, '+colours.background1+' 35%,'+ colours.background2+'00 100%)',
        'top': position + 'px',
        'transition': 'top ' + (totalUpScroll == 0 ? '0' : '0.3') + 's'
    }"
>
    <img 
        (click)="navigate('')"
        [src]="logoUrl" 
        class="logo"
    >

    <div 
        class="links"
        [ngStyle]="{
            'color': colours.font1, 
            'font-family': fonts.font2
        }"
    >
        <div (click)="navigate('AboutMe')">About Me</div>
        <div (click)="navigate('Work-With-Me')">Work With Me</div>
        <div (click)="navigate('Testimonials')">Testimonials</div>
        <div (click)="navigate('Blog')">Blog</div>
        <div (click)="navigate('Contact')">Contact</div>
        
        <i (click)="navigate(socialUrls.instagram)" class="fa fa-instagram icon"></i>
        <i (click)="navigate(socialUrls.linkedin)" class="fa fa-linkedin icon"></i>
        
    </div>
</div> -->