<div 
    class="container"
    [ngStyle]="{
        'background': module.backgroundColour,
        'height': textContainer1b.offsetHeight.toString() +'px'
    }"
    *ngIf="windowService.windowWidth >= windowService.minWidth"
>
    <div class="text-container" #textContainer1b>
        <app-text-item [text]="module.text"></app-text-item>
    </div>    
    
    <div class="img-container">
        <img [src]="module.imgURL" class="img">
    </div>
</div>

<app-module12-mobile [module]="module"></app-module12-mobile>