<div 
    class="blur" 
    [ngStyle]="{
        'top': open ? '0' : '',
        'opacity': open ? '0.2' : '',
        'backdrop-filter': open ? 'blur(0.75px)' : '',
    }"
></div>
<div     
    class="container"
    [style.background]="colours.background1"
    [style.font-family]="fonts.font3"
    [style.color]="colours.font1"
    [ngStyle]="{'top': open ? '50%' : ''}"
    
>
    <img
        [style.height]="popUpTextContainer.offsetHeight.toString() +'px'"
        src="assets/Img2.jpeg" 
        class="img"
    >

    <i class="fa fa-close" (click)="open = false"></i>

    <div class="text-container" #popUpTextContainer>
        <app-content [content]="content"></app-content>

        <br>
        <form (submit)="emailSubmit($event, email.value)">
            <input id="emailInput" placeholder="Email" type="email" #email required >
            <button 
                type="submit"
                [style.font-family]="fonts.font3"
                class="submit-button"
            >
                Subscribe
            </button>
        </form>
    </div>

</div>