<div 
    class="blur" 
    [ngStyle]="{
        'top': open ? '0' : '-100%',
        'opacity': open ? '0.2' : '0',
        'backdrop-filter': open ? 'blur(0.75px)' : 'blur(0px)',
    }"
></div>
<div     
    class="container"
    [style.background]="colours.background1"
    [style.font-family]="fonts.font3"
    [style.color]="colours.font1"
    [ngStyle]="{'top': open ? '50%' : ''}"
    
>
    <img
        [style.height]="popUpTextContainer.offsetHeight.toString() +'px'"
        src="assets/popUp/popUp.png" 
        class="img"
    >

    <i class="fa fa-close" (click)="open = false"></i>

    <div class="text-container" #popUpTextContainer>
        <app-content [content]="content"></app-content>

        <br>
        <form>
            <input id="emailInput" placeholder="Email" type="email" required >
            <button 
                type="submit"
                class="submit-button"
                (click)="emailSubmit()"
                [style.font-family]="fonts.font3"
            >
                Subscribe
            </button>
        </form>
    </div>
</div>

