<app-navbar></app-navbar>
<div *ngFor="let page of site">
	<div *ngIf="page.url == location.path().replace('/','')">
		<div 
			*ngIf="page.modules[0].type != 'landingModule'" 
			class="nav-bar-placeholder"
		></div>

		<div *ngFor="let module of page.modules">

			<div *ngIf="module.type == 'landingModule'">
				<app-landing-module [module]="module"></app-landing-module>
			</div>

			<div *ngIf="module.type == 'module1a'">
				<app-module1a [module]="module"></app-module1a>
			</div>
			<div *ngIf="module.type == 'module1b'">
				<app-module1b [module]="module"></app-module1b>
			</div>

			<div *ngIf="module.type == 'module2a'">
				<app-module2a [module]="module"></app-module2a>
			</div>
			<div *ngIf="module.type == 'module2b'">
				<app-module2b [module]="module"></app-module2b>
			</div>

			<div *ngIf="module.type == 'module3a' || module.type == 'module3b' || module.type == 'module3c' || module.type == 'module3d'">
				<app-module3 [module]="module"></app-module3>
			</div>

			<div *ngIf="module.type == 'imageModule'">
				<app-image-module [module]="module"></app-image-module>
			</div>
		</div>
	</div>
</div>


<app-footer></app-footer>