.nav-bar-placeholder {
    height: 250px;
    width: 100%;
}

.read-more {
    width: 100%;
    position: relative;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
}
/* .container {
    width: 100%;
    display: flex;
    overflow-wrap: break-word;
}

.img-container{
    width: 46%;
    height: 830px;
    margin-right: 60px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    width: min(700px, 35%)
}

.heading {
    line-height: 86px;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 30px;
}
.sub-heading {
    line-height: 48px;
    font-size: 39px;
    font-weight: bold;
    margin-bottom: 30px;
}
.content {
    line-height: 27px;
    font-size: 16px;
} */