.container {
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 85px;
    padding-bottom: 85px;
    color: white;
}

.image {
    width: min(1130px, 88%);
    object-fit: cover;
    border-radius: 12px;
}

.overlay {
    background: rgba(58, 58, 58, 0.75);

    position: absolute;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    
    width: min(1130px, 88%);
    border-radius: 12px;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    

    height: fit-content;

    padding-top: 50px;
    padding-bottom: 50px;

    width: 60%;
    margin: auto;
}
