
<div 
    class="container"
    [ngStyle]="{'background': module.backgroundColour}"
>

    <div 
        *ngIf="
            module.type == 'module3a' || 
            module.type == 'module3c' || 
            module.type == 'module3d' || 
            windowService.windowWidth < windowService.minWidth
        "
        class="text-container"
        [ngStyle]="module.type == 'module3d' ? {'text-align': 'center'} : {'text-align': ''} "
    >
        <div 
            class="text-container1-inner" 
            *ngIf="windowService.windowWidth >= windowService.minWidth">
            <app-content [content]="module.content1"></app-content>
        </div>        

        <div 
            class="text-container1-inner" 
            *ngIf="windowService.windowWidth < windowService.minWidth"
        >
            <div><app-content [content]="module.content1"></app-content></div>
            <div><app-content [content]="module.content2"></app-content></div>
            <div><app-content [content]="module.content3"></app-content></div>
        </div> 
    </div>

    <div 
        *ngIf="
            (module.type == 'module3a' || module.type == 'module3b') && 
            windowService.windowWidth >= windowService.minWidth
        " 
        class="text-container"
    >        <div class="text-container2-inner margin">
            <app-content [content]="module.content2"></app-content>
        </div>

        <div class="text-container2-inner">
            <app-content [content]="module.content3"></app-content>
        </div>
    </div>
</div>