<div 
    class="container"
    [ngStyle]="{
        'background': colours.background1,
    }"
>
    <div 
        class="links-container"
        [ngStyle]="{'font-family': fonts.font3,
            'color': colours.font2,
            'display': windowService.windowWidth < windowService.minWidth ? 'block' : 'flex'
        }"
    >
        <ng-container *ngFor="let page of site">
            <div 
                *ngIf="!page.url.includes('%')"
                class="footer-links" (click)="navigate(page.url)" 
            >
                {{ page.url.replaceAll('-', '  ') }}
            </div>
        </ng-container>
        <!-- <div (click)="navigate('AboutMe')" class="footer-links">About Me</div>
        <div (click)="navigate('Work-With-Me')" class="footer-links">Work With Me</div>
        <div (click)="navigate('Testimonials')" class="footer-links">Testimonials</div>
        <div (click)="navigate('Blog')" class="footer-links">Blog</div>
        <div (click)="navigate('Resources')" class="footer-links">Resources</div>
        <div (click)="navigate('Contact')" class="footer-links">Contact</div> -->
    </div>

    <a [href]="'mailto:'+email" 
        class="email"
        [ngStyle]="{'font-family': fonts.font2,
            'color': colours.font3
        }"
    >
        {{ email }}
    </a>

    <div 
        class="socialButtons"
        [ngStyle]="{'color': colours.font1}"    
    >
        <i (click)="navigate(socialUrls.instagram)" class="fa fa-instagram icon"></i>
        <i (click)="navigate(socialUrls.linkedin)" class="fa fa-linkedin icon"></i>
    </div>
</div>